@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light: #fff;
    --dark: #000;
    --btn-color: #E83F57;
    --bg-header: #3DE07E;
    --bg-footer:  #333;
}

body {
    background-color: var(--dark);
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    background-color: var(--bg-header);
    gap: 8.5rem;

    aside img {
        cursor: pointer;
        padding: 2rem;
        grid-row: 1;
    }

        h1 {
        font-family: 'Roboto', sans-serif;
        color: var(--dark);
        margin: 0 auto;
        grid-row: 2;
    }

    .ninja-head {
        width: 241px;
        height: auto;
        justify-self: center;
        grid-row: 3;
    }
}

.wrapper {
    display: grid;
    margin: 0 auto;
    max-width: 1100px;
    padding: 5rem 1rem;
    gap: 2rem;

    .card img, .big-card img {
        width: 100%;
    }

    .big-card > section {
        height: 100%;
        padding: .7rem 1rem;
        gap: 1rem;
    }

    .card {
        display: flex;
        flex-direction: column;

        h2, p {
            color: var(--light);
        }
    }

    .big-card {
        display: flex;
        flex-direction: column;
    }

    .card, .big-card section {
        gap: 1rem;
    }
}

.card button {
    margin-top: 2.5rem;
    margin-top: auto;
}

.big-card button {
    margin-top: 4.25rem;
    margin-bottom: 1rem;
}

.button {
    background-color: var(--btn-color);
    border-style: none;
    margin-top: auto;
    font-size: 0.875rem;
    border-radius: 4px;
    padding: 8px 16px;
    color: var(--light);
}

h2, p, .button, a {
    font-family: 'Fira Sans', sans-serif;
}

p {
    font-size: 1rem;
}

.footer-links {
    display: grid;
    justify-content: space-around;
    background-color: var(--bg-footer);
    height: 20rem;
    place-items: center;

    h2, p {
        color: var(--light);
    }

    p, a {
        line-height: 1.8rem;
    }

    nav {

        a {
            display: block;
            color: var(--light);
            text-decoration: none;
        }
    }

    .icons {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 5rem;
    }
    
    .wrapper {
        grid-template-columns: 1fr;
    }

    .button {
        width: 100%;
        padding: 1.5rem 0;
    }

    .big-card h2, p {
        color: var(--light);
    }

    .card, .big-card {
        grid-column: auto / span 1;

    }

    .big-card > section {
        background-color: var(--dark);
    }

    h2 {
        font-size: 2.3rem;
        text-align: center;
    }

    .footer-links {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    h1 {
        font-size: 5.7rem;
    }
    
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        grid-column: 1fr;
    }

    .big-card {
        grid-column: auto / span 2;
        margin: 0 2rem;
    }

    .big-card > section {
        background-color: var(--light);
    }

    h2, p {
        color: var(--dark);
    }

    h2 {
        font-size: 2.3rem;
    }

    .button {
        align-self: flex-start;
    }

    .footer-links {
        grid-template-columns: repeat(3, 1fr);
    }

    nav {
        grid-column: 1;
    }

    .footer-links article:nth-of-type(1) {
        grid-column: 2;
    }

    .footer-links article:nth-of-type(2) {
        grid-column: 3;
}
}

@media (min-width: 901px) {
    h1 {
        font-size: 6.375rem;
    }

    .wrapper {
        grid-template-columns: repeat(6, 1fr);
    }

    .card {
        grid-column: auto / span 2;
    }

    .big-card {
        grid-column: auto / span 3;
    }

    .big-card > section {
        background-color: var(--light);
    }

    h2, p {
        color: var(--dark);
    }

    h2 {
    font-size: 2.5rem;
}

    .button {
        align-self: flex-start;
    }

    .footer-links {
        grid-template-columns: repeat(3, 1fr);
    }

    nav {
        grid-column: 1;
    }

    .footer-links article:nth-of-type(1) {
        grid-column: 2;
    }

    .footer-links article:nth-of-type(2) {
        grid-column: 3;
    }
}