@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-light: #fff;
    --dark: #000;
    --btn-color: #E83F57;
    --bg-header: #3DE07E;
}

body {
    background-color: var(--dark);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0 auto;
    max-width: 1100px;
    gap: 1rem;

    .card img, .big-card img {
        width: 250px;
    }
}

button {
    background-color: var(--btn-color);
    border-style: none;
}

h2, p, button {
    color: var(--text-light);
}

h2, p, button {
    font-family: 'Fira Sans', sans-serif;
}

h2 {
    font-size: 3.125rem;
}

p {
    font-size: 1rem;
}

button {
    font-size: 0.875rem;
    border-radius: 4px;
    padding: 8px 16px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-header);

    aside img {
        cursor: pointer;
        padding: 1rem 1rem;
        align-self: flex-start;
    }

    .ninja-head {
        text-align: center;
    }

    h1 {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 6.375rem;
        color: var(--dark);
    }
}